html,body{
    height: 100%;
}
a{
    color: inherit;

}
section{
    min-height: 60%;
}
.dropdown-menu{
    background-color: #5a5a5a;
}
.dropdown-item{
    color: #dadada
}
.dropdown-item:active{
    background-color: #858585;
}
.page-link{
    color: inherit
}
.pagination .active .page-link{
    background-color: #5a5a5a;
    border-color: #5c5c5c;
}
